@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
.box {
    max-width: 100%;
    background-color:#282be2
  }
  #grad1 {
    
    background-color: #ADD8E6; 
    background-image: linear-gradient(to right, #ADD8E6, #836FFF);
  }
  .corazul{
    background-color:#ADD8E6;
    
  }
  .corbranco{
    background-color:white;
    
  }
  .titulo{
    color: cyan;
  }
  .centralizar{
    justify-content: center;
  }
  
  .alinha{
    display: flex;
    flex: 1 1 50%;
    justify-content: end;
  }
  .alinhaNome{
    display: flex;
    flex: 1 0 5%;
    justify-content: flex-start;
  }
  .icons{
    width: 15px;
    height: 15px;
  }