<form  [formGroup]="formUsuario">
  <div class="form-group row p-2">
    <div class="col-5">
      <label for="nome">Login</label>
      <input type="string" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
    </div>
    <div class="col-5">
      <label for="nome">Senha</label>
      <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha">
    </div>
  </div>
  <div class="form-group row p-2">
    <div class="col-sm-1">
      <input type="submit" (click)="onSubmit()" class="btn btn-primary mt-4" value="Logar">
    </div>
    <div class="col-sm-1">
      <a href="#" class="btn btn-secondary mt-4 btt-seg" (click)="novo()">Cancelar</a>
    </div>
  </div>
</form>
